.userWrap{
    display: flex;
    background-color: white;
    color: black;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}
.userImg{
    width: 20px;
    height: 15px;
    padding: 1rem;
}
.userImg img{
    width: 100%;
}
