.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: cyan;
}

.header button{
    background-color: greenyellow;
    border: none;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-weight: 800;
    font-size: 95%;
}