*{

    text-decoration: none;
  }
  .container{
    display: flex; 
  }

  .sidebar{
 
    height:100%;
    background-color: white;
    color: black;
    width: fit-content;
    text-align: center;
   
  }
  
  .top-section{
    display: flex ;
    padding: 20px 20px;
    align-items: center;
  }
  .logo{
    font-size: 30px;
  }
  .bars{
    display: flex;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .link{
    display: flex;
    color: black;
    padding: 15px 15px;
    gap: 10px;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
  }
  
  .link:hover{
    background: black;
    color: white;
  }
  .active{
    background-color: black;
    color: white;
  }

  /*Section-3 end*/

  /*Section-4*/


